body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header, #footer {
    min-height: 60px;
    flex-shrink: 0;
}

#main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: aliceblue;
}

#userMenuContainer, #sketchContainer {
    border: black solid 4px;
    min-width: 100px;
    flex: 1;
}

#userMenuContainer {
    max-width: 40%;
}

#sketchContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 40px;
}

#sketchBox {
    display: flex;
    flex: 1;
    border: black solid 3px;
}