body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*padding-left: 150px;
    padding-right: 150px;*/
}

#header, #footer {
    height: 60px;
    flex-shrink: 0;
}

#main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: aliceblue;
}

#userMenuContainer, #sketchContainer {
    border: black solid 4px;
    min-width: 100px;
    flex: 1;
}

#userMenuContainer {
    max-width: 40%;
}

#sketchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    container-type: size;
}

#sketchBox {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    width: 100cqmin;
    max-height: 100cqmin;
    border: black solid 3px;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}