body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 300px;
    padding-right: 300px;
}

#header, #footer {
    display: flex;
    height: 60px;
    flex-shrink: 0;
}

#header {
    justify-content: left;
}

#footer {
    justify-content: center;
}

#main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: white;
}

#userMenuContainer, #sketchContainer {
    border: black solid 4px;
    min-width: 100px;
    flex: 1;
}

#userMenuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 300px;
    height: auto;
    padding: 20px;
}

#sketchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    padding: 10px;
    min-width: 510px;
    min-height: 510px;
}

#sketchBox {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex: none;
    width: 500px;
    height: 500px;
    border: black solid 3px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
}